.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
  flex: 0;
}
.content {
  background: #edecec;
  flex: 5;
  display: flex;
  flex-direction: row;
}
.footer {
  flex: 1;
}
